
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* 이후에 해당 서체를 사용할 수 있도록 설정 */
body {
  font-family: 'Pretendard-Regular', sans-serif;
}




.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 화면의 전체 높이를 차지하도록 설정 */
  padding-bottom: 40px; /* 아래 여백 추가 */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.first-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110vh; /* 페이지 전체 높이로 설정 */
}

.book-list {
  background-image: url('/public/Images/mainDesk.png'); /* 배경 이미지 */
  background-size: cover; /* 배경 이미지가 영역을 덮도록 확대 */
  background-position: center; /* 중앙 정렬 */
  background-repeat: no-repeat; /* 반복 방지 */
  padding: 20px; /* 책 이미지 간의 간격 */
  border-radius: 8px; /* 둥근 모서리 */
  width: 100%; /* 부모의 너비를 100%로 설정 */
  height: 100%; /* 부모의 높이를 100%로 설정 */

  /* Flexbox로 이미지들을 일직선으로 배치 */
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: flex-end; /* 이미지들을 아래쪽에 배치 */
  gap: 20px; /* 이미지들 간의 간격 */
  
  position: relative;
}

.book-image {
  width: 300px; /* 이미지 크기 */
  height: auto; /* 비율 유지 */
  border-radius: 8px; /* 둥근 모서리 */
  transition: transform 0.3s ease; /* 호버 시 애니메이션 효과 */
}

.book-list a {
  position: relative;
  bottom: 60px; /* 바닥에서 200px 위에 배치 */
  text-decoration: none; /* 링크의 기본 밑줄 제거 */
}

.book-image:hover {
  transform: scale(1.1); /* 이미지 호버 시 확대 */
}


@media (max-width: 768px) {

  .book-list {
    background-image: url('/public/Images/mainMobile.png'); /* 배경 이미지 */
    background-size: cover;
    background-position: center; /* 중앙 정렬 */
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    height: auto;
    min-height: 100vh; /* 화면 크기에 맞춰 최소 높이를 설정 */
    padding-top: 250px; /* 위쪽 여백 */

    display: flex;
    flex-direction: column; /* 이미지들을 수직으로 배치 */
    justify-content: center; /* 수직 중앙 정렬 */
    align-items: center; /* 수평 중앙 정렬 */
    gap: 120px; /* 이미지들 간의 간격 */
    position: relative; /* 필요에 따라 절대 위치 지정이 가능 */
  }
  .book-list a {
    position: relative;
    bottom: 80px; /* 바닥에서 200px 위에 배치 */
    text-decoration: none; /* 링크의 기본 밑줄 제거 */
  }


  .image-section {
    display: flex;
    flex-direction: row; /* 이미지들도 세로로 배치 */
    align-items: center; /* 이미지들 가운데 정렬 */
    gap : 3px;
  }
  .image-section img {
    max-width: 48%; /* 이미지의 최대 너비는 부모의 48% */
    height: auto; /* 높이는 비율에 맞게 자동으로 설정 */
    object-fit: contain; /* 이미지 비율에 맞게 잘림 방지 */
    max-height: 200px; /* 이미지 최대 높이를 200px로 제한 */
  }

  .book-image {
    width: 150px; /* 이미지 크기 */
    height: auto; /* 비율 유지 */
    border-radius: 8px; /* 둥근 모서리 */
    transition: transform 0.3s ease; /* 호버 시 애니메이션 효과 */
  }
}

